@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px      
  .footer
    &-wrapper
      grid-template-columns: repeat(4, 1fr)
    &__legal-info
      padding-left: 0
    &__input
      flex-basis: 100%

@media (max-width: 991px)
  a, button
    &:hover
      cursor: default 
  .logo
    width: 135px 
  .rating
    margin-top: -19px          
  .hotel
    padding-top: 23px
    &-info
      padding-bottom: 0
      &__text
        margin-left: 80px 
        margin-bottom: 10px     
  .container, .newsletter-wrapper
    max-width: 700px   
  .navbar
    &-top
      padding-top: 30px 
      padding-bottom: 27px    
    &__search
      margin-left: 51px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      padding-left: 11px
      padding-right: 10px
      &__link 
        font-size: 12px
        line-height: 15px 
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 58px 
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      
    &-right
      flex-direction: row
  .booking
    width: 340px
    padding: 30px 27px 28px 25px
  .hotel-slider
    width: 100%
  .map
    width: 340px
  .newsletter
    padding: 63px 0 75px 0 
    margin-left: auto
    margin-right: auto 
    &-wrapper
      margin-left: 25px
    &-title
      margin-left: 0
      padding-top: 8px
  .subscribe
    margin-left: 0px
    margin-right: 0px 
    &__button
      margin-top: 12px 
    &__input 
      margin-bottom: -13px 
  .reviews
    padding: 1px 0 58px 0
    &-slider
      &__item
        max-width: 580px
      &__button
        top: 49%
        transform: translateY(-50%)
        &--prev          
          margin-left: 1px
        &--next
          margin-right: 0px  
    &__title
      font-size: 30px
      line-height: 38px 
      padding-top: 10px 
      margin-bottom: 51px 
  .activities
    padding: 40px 0 47px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 27px
    &__title
      margin-bottom: 57px
  .card
    width: 340px
    height: 251px
    &__title
      margin-right: 93px
  .footer
    padding-top: 49px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-row-gap: 20px
      grid-column-gap: 30px
      margin-left: 0
    &__logo
      grid-row: 1 / 2
      grid-column: span 3
      width: 97px
      margin-bottom: 25px
      margin-top: 20px
    &__legal-info
      padding-left: 10px
      grid-column: span 4
    &__social
      &-network
        margin-top: 0
        grid-row: 1 / 2
        grid-column: span 9
        align-self: center
        margin-left: 4px
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
    &__additional-info
      grid-column: span 5
      padding-left: 17px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 12
        margin-top: 35px
      &-form
        grid-row: 4
        grid-column: span 10
        padding-right: 39px
        margin-top: 36px
    &__input
      &-group
        flex-basis: 47%
    &-bottom
      &__text
        grid-column: span 6
        text-align: left
        margin-left: 2px
      &__payments-info
        grid-column: span 6
        margin-right: 2px
    &__bottom
      margin-top: 56px
    &__link
      &:hover
        background: $dark
        color: $light 
    .fac, .you, .inst
      &:hover
        background: $dark       
  .modal
    &__dialog
      padding: 30px 40px
 

            
         


@media (max-width: 767px)  
  .container
    width: 90%
  body
    padding-top: 78px  
    
  .navbar
    &--mobile-fixed
        position: fixed
        left:  0
        top:  0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 72px
      padding-top: 30px
      &--visible
        display: block
        overflow-x: auto
        overflow-y: auto
    &-menu
      flex-direction: column
      align-items: center
      &__item
        margin-bottom: 20px 
        &--mobile
          &--visible
            display: block   

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column 
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      color: $light
      margin-left: 0
      margin-top: 10px     
  .stars
    flex-basis: auto        
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px        
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100% 
  .newsletter
    width: 100%
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start         
    &-title
      font-size: 25px
      line-height: 25px
      &__strong
        font-size: 30px
  .subscribe
    &__button
      margin-top: 13px    
        
  .subscribe
    width: 
    margin-left: 0
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: 146px
          top: 46px
        &--next
          margin-right: 146px 
          top: 47px  
  .form
    max-width:         
  .activities
    padding-top: 40px
    padding-bottom: 60px        
  .card
    width: 49%
    height: 255px  
  .footer
    padding-top: 70px
    padding-bottom: 20px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-top: 0
        flex-direction: column
        align-items: start
    &__legal-info
      grid-row: 3
      grid-column: 1
      padding-left: 0
    &__additional-info
      grid-row: 4
      grid-column: 1
      padding-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 0
      &-form
        grid-row: 7
        grid-column: 1
        padding-right: 0
        margin-top: 0
    &__title
      margin-bottom: 15px
      &--inline
        margin-right: 0
    &__icon
      &-wrapper
        min-width: 30px
        width: 30px
    &__textarea
      margin-bottom: 15px
      margin-top: 0
    &__input
      &-group
        flex-basis: 100%
        margin-bottom: 15px  
    &-form
      &__bottom
        flex-direction: column
        align-items: start
    &__info
      margin-bottom: 15px
      order: -1
    &-bottom
      grid-template-columns: 1fr
      &__text
        grid-column: span 1
        text-align: left
        margin-bottom: 10px
      &__payments-info
        grid-column: span 1
        margin-right: auto
        margin-left: 0
  .modal
    &__dialog
      width: 87.5%
    &-form
      &__bottom
        flex-direction: column
        align-items: start
    &__info
      margin-top: 15px
      order: -1           
            


@media (max-width: 576px)
  .container, 
    max-width: 379px
    padding-left: auto
    padding-right: auto
  .logo
    width: 99px
  .breadcrumb-list
    padding: 18px 0 6px 0
  .stars
    margin-right: 18px    
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
      height: 179px
    &-slider
      height: 179px
      &__button 
        width: 8px
        height: 8px
        &--next
          right: 8px       
        &--prev
          left: 8px       
    &-info
      padding-bottom: 38px
    &-right
      min-height: 200px  
  .map
    height: 173px
    margin-top: 20px    
  .booking
    padding: 30px 24px 28px 25px 
  .subscribe
    width: 300px       
  .newsletter    
    padding: 63px 10px 43px 10px
    &-wrapper
      width: 100%
    &-title
      font-size: 19px
      margin-bottom: 45px        
      &__strong
        font-size: 30px
        line-height: 22px
        margin-top: 14px
      &-wrapper
        max-width: 277px
        padding: 63px 10px 82px 10px          
  .reviews
    padding: 13px 0 36px 0
    &__title
      font-size: 18px
      max-width: 200px
      margin-left: auto
      margin-right: auto
      line-height: 25px
      margin-bottom: 39px

    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: 34px
          top: 46px
        &--next
          margin-right: 42px 
          top: 47px  
  .card
    width: 100% 
    margin-bottom: 23px 
    &__title
      margin-right: 41px
  .activities
    padding-bottom: 38px       
    &__title
      font-size: 18px
      margin-bottom: 33px
    &__card-aktiv
      order: -1 
    &__card-on
      order: -2
  .footer
    padding-top: 94px
    &-wrapper
      grid-template-rows: 80px 80px 140px 160px 200px 330px 470px 80px
      grid-column-gap: 
    &__input
      flex-basis: 49%
    &__logod
      width: 100px
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        flex-direction: column
        margin-left: 0        
    &__information
      grid-row: 4      
    &__categories
      grid-row: 5 
    &__legal
     grid-row: 3
     justify-self: normal
    &__button
      order: 1 
      margin-top: 15px
      
    &__input       
      padding: 15px 23px
      margin-bottom: 15px
      width: 
      &-group
        width: 100%
    &__message
      height: 150px 
      flex-basis: auto 
      width:  100%
      margin-top: 35px    
    &__title
      font-size: 18px            
    &__contact
      &-details
        grid-row: 6      
      &-form 
        grid-row: 7
    &__form
        flex-direction:
        align-items: 
    &__conditions
      grid-row: 8
      &-wrapper
        flex-direction: column
        align-items: start        
      &-links
        margin-right: 60px
        width:       
    &__formpay 
      margin-left: 0 
      &-links
        width: 289px
        height: 15px
        font-size: 12px
        line-height: 15px
        margin-right: 20px
    &-input
      display: flex
      flex-direction: column
      height: 100px
    #name-error
      margin-top: -15px
    #phone-error
      margin-top: -15px  
          
  .navbar
    &__search
      margin-left: 5px
  .search
    &__input
      width: 290px 
  .modal
    &__dialog
      overflow-y: auto
      height: 80vh
                    

@media (max-width: 420px)
  .container
    width: 93% 
  .hotel
    padding-top: 10px
    &-info
      padding-bottom: 29px
      &__text
        margin-left: 0
    &__slider
      width: 99%
      margin-left: 3px

  .subscribe 
    width: 280px 
    &__input
      max-width: 277px
      font-size: 14px
      padding-left: 20px    
  .newsletter
    padding: 50px 5px 73px 5px
    &-title
      font-size: 
      margin-bottom: 22px
      padding-top: 11px
      letter-spacing: 0.03em         
      &__strong
        font-size: 
        line-height: 20px
    &-wrapper
      margin-left: -5px
  .reviews
    padding: 9px 0 37px 0
    &__title
      margin-bottom: 38px
    &-slider            
      &__button
        top: 32px
        &--prev
          margin-left: 30px
          top: 45px
        &--next
          margin-right: 38px 
          top: 46px    
  .activities
    padding-bottom: 38px            
  .footer
    padding-top: 77px
    &-wrapper
      grid-template-rows: 99px 139px 141px 194px 245px 394px 271px 80px
      grid-row-gap: 6px
      grid-column-gap: 1px
    &__legal
      &-info
        margin-top: -10px     
    &__input
      flex-basis: 49%
    &__logod
      width: 95px
      margin-top: -25px
    &__social
      &-network
        grid-row: 2
        flex-direction: column
        margin-left: 0
    &__title
      margin-bottom: 20px
      &--inline
        margin-bottom: 20px               
    &__item
      &--mr-2
        margin-bottom: 13px          
               
    &__icon
      &-wrapper
        min-width: 30px
        margin-top: 2px
     
    &__button
      order: 1 
      margin-top: 15px
    &__input 
      padding: 15px 23px
      width: 100%
      &-group
        margin-bottom: 0
    &__message
      height: 120px 
      flex-basis: auto 
      width:  100% 
      margin-top: 25px  
    &__contact
      &-details
        grid-column: span 3
        margin-left: 0
      &-form 
        grid-column: span 3
    &__form
        flex-direction: 
        align-items: 
        margin-top: -5px
        margin-right: -5px
    &__item
      &--mb-1
        margin-bottom: 23px
      &--mb-2
        padding-right: 5px      
    &__conditions
      grid-row: 8
      &-wrapper
        flex-direction: column
        align-items: start        
      &-links
        margin-right: 60px
        width: 100% 
    &__button
      margin-top: 1px        
    &__formpay 
      margin-left: 0   
      &-links
        width: 289px
        height: 15px
        font-size: 12px
        line-height: 15px
        margin-right: 20px
    &__ul
      &--pd-7
        font-weight: 300
        font-size: 14px
    &__text
      font-weight: 300
      font-size: 14px
      line-height: 23px
      margin-bottom: 19px 
      margin-right: 5px
    &-bottom
      &__link
        margin-right: 6px
      &__text
        margin-top: 4px
        margin-bottom: 9px  

  .navbar
    &__search
      margin-left:     
  .search
      width: 275px
              
        
          


@media (max-width: 318px) 
  .container
    width: 92%
    padding-left: auto
    padding-right: auto 
  .reviews
    &-slider
      &__button
        top: 32px
       
  .search
      width: 243px 
      margin-bottom: 18px 
      margin-top: 12px                 
  .navbar
    &-bottom
      padding-top: 15px
      margin-bottom: 0
      position: fix

    &-menu
      padding-top: 13px
      &__item
        margin-bottom: 17px
        margin-top:
      
  .user
    &__name
      margin-top:     
       
      
  