.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr) )
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
    padding-left: 14px
  &__logod
    width: 166px
    grid-row: 1 / 3  
    align-self: center
  &__ul
    padding: 0
    margin: 0
    list-style: none       
  &__categories
    grid-row: 1 / 4
    margin-left: 4px
  &__information
    margin-left: 11px  
  &__legal
    justify-self: end  
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
      &:hover
        background: #4b0082  
    &-network
      display: flex
      align-content: center
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
      margin-left: 9px      
  &__contact
    &-details
      grid-column: span 2   
    &-form  
      grid-column: span 2
      margin-left: 10px
      margin-right: -2px
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap     
    margin-bottom: 94px 
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px  
    margin: 0 0 11px 0
    text-transform: uppercase
    &--inline
      margin: 0 43px 0 0
    &--mb-3
      margin-bottom: 34px 
      margin-top: 0px 
  &__item
    display: flex
    align-items: flex-start
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--mr-2
      margin-bottom: 20px
  &__icon
    &-wrapper 
      min-width: 40px
  &__text
    color: $footer-text-color
    margin-bottom: 22px
    font-size: 14px
    font-weight: 300
  &__link
    text-decoration: none  
    color: inherit
    &:hover
      background: #3b2977
      color: #1ba043      
  &__input
    &-group
      margin-bottom: 
      flex-basis: 48%
      display: flex
      flex-direction: column
      justify-content: start    
  &__message
    max-width: 550px
    height: 123px    
    flex-basis: 100%
    margin-top:  
    margin-bottom: 0    
  &__button
    margin-top: 23px
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    margin-top: 20px
    color: $footer-info-color
    overflow: hidden  
  &__conditions
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    &-wrapper
      display: flex
      align-items: center
      justify-content: space-between      
    &-links
      display: flex
      align-items: center
      justify-content: space-between
      width: 282px
      height: 15px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $light      
  &__formpay
    width: 136px
    height: 22px
    margin-left: 264px    
  &-input
    display: flex
    
    justify-content: space-between 
    height: 65px 
    padding-right: 0
    width: 100%

  
