.newsletter
  position: relative
  padding-top: 98px
  padding-bottom: 87px
  background-image: url(../img/newsletter-bg.jpg)
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 5
    background-color: rgba($dark, 0.8)
  &-wrapper
    position: relative
    z-index: 10
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 731px
    margin: auto
  &-title
    display: flex
    flex-direction: column
    flex-wrap: wrap
    max-width: 50%
    margin: 0
    color: $light
    font-weight: 300
    font-size: 24px
    line-height: 30px
    word-break: break-word
    &__strong
      text-transform: uppercase
      font-weight: 600
      font-size: 36px
      line-height: 45px
      word-break: break-word
.subscribe
  position: relative
  width: 350px
  max-width: 50%
  height: 55px
  &__input
    width: 100%
    height: 100%
    padding-left: 33px
    padding-right: 75px
    border: none
    font-weight: 300
    font-size: 14px
    line-height: 18px
    border-radius: 4px
    color: $text-color
    &-group
      width: 100%
      height: 100%
    &:focus
      outline: none
    &::placeholder
      color: $text-color
  &__button
    position: absolute
    top: 0
    right: 0
    height: 100%
    min-width: 65px
    max-width: 100px
    border-top-right-radius: 4px
    border-bottom-right-radius: 4px
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $light
    background-color: $primary
    cursor: pointer
    border: none
    outline: none
      
  
 
 
  

  
